{% extends 'base.html' %}

{% block content %}

<body>
    <header>
        <div class="container">
            <div class="hero">
                <div class="card-container">
                    <div class="my-image">
                        <img src="../static/images/my_photo.jpeg" class="profile-image">
                    </div>

                    <div class="text-container">
                        <h1 id="last_name"></h1>
                        <h3 id="first_name"></h3>
                    </div>
                </div>
                <div class="field-container">
                    <h2 id="field"></h2>
                </div>
                <div class="output"></div>
                <div class="technologies">
                </div>

                <!-- <div class="about-me-container">
                    <a href="#">ABOUT ME</a>
                </div> -->
            </div>
        </div>
    </header>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/technologies.js"></script>
    <script src="../static/js/navbar.js"></script>
</body>

{% endblock %}