<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateusz Guła Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="hero">
        <nav>
            <img src="images/dev_light.png" class="logo">
            <ul>
                <li><a id="home" href="home.html">Home</a></li>
                <li><a id="projects" href="projects.html">Projects</a></li>
                <li><a id="timeline" href="timeline.html">Timeline</a></li>
                <li><a id="contact" href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div class="card-container">
            <div class="my-image">
                <img src="images/my_photo.jpeg" class="profile-image">
            </div>

            <div class="text-container">
                <h1 id="last_name"></h1>
                <h3 id="first_name"></h3>
            </div>
        </div>
        <div class="field-container">
            <h2 id="field"></h2>
            <!-- <img src="images/python-logo-only.png" class="tech-image"> -->
            <!-- <p>Python</p> -->
            <p>
            </p>

        </div>
        <div class="about-me-container">
            <a href="#">ABOUT ME</a>
        </div>
    </div>

</body>
<script>
    fetch('http://localhost:5000/user')
        .then(function (response) {
            return response.json();
        }).then(function (text) {
            document.getElementById("first_name").innerText = text.first_name;
            document.getElementById("last_name").innerText = text.last_name;
            document.getElementById("field").innerText = text.field;
            document.getElementById("description").innerText = text.description;
        });

</script>

</html>