<div class="hero">
    <nav>
        <img src="images/menu.png" class="menu-img">
        <img src="images/logo.png" class="logo">
        <ul>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Modern</a></li>
            <li><a href="#">Next</a></li>
            <li><a href="#">Future</a></li>
        </ul>
        <button type="button" onclick="toggleBtn()" id="btn"><span></span></button>
    </nav>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ url_for('index') }}">Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('projects') }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('timeline') }}">Timeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Links</a>
                </li>
            </ul>

        </div>
    </div>
</nav> -->