<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateusz Guła Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="hero">
        <nav>
            <img src="images/dev_light.png" class="logo">
            <ul>
                <li><a id="home" href="home.html">Home</a></li>
                <li><a id="projects" href="projects.html">Projects</a></li>
                <li><a id="timeline" href="timeline.html">Timeline</a></li>
                <li><a id="contact" href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <div class="output"></div>
        <!-- <ul id="dataList"></ul>
        <div class="templates">
            <div id="listItem">
                <div class="row1">
                    <div class="title"></div>
                    <div class="amount"></div>
                </div>
                <div class="row2">
                    <div class="description"></div>
                </div>
            </div>
        </div> -->

        <!-- <div class="projects-container">
            {% for project in projects %}
            <div class="card">
                <div class="container">
                    <h4><b>Test 1</b></h4>
                    <p>Test 2</p>
                </div>
            </div>
            {% endfor %}
        </div> -->
    </div>

</body>
<script>
    const output = document.querySelector('.output');
    const output1 = document.createElement('div');
    const ul = document.createElement('ul');
    output.append(output1);
    output.append(ul);
    fetch('http://localhost:5000/projects')
        .then(function (response) {
            return response.json();
        }).then((data) => {
            console.log(data);
            addtoPage(data);
        });

    function addtoPage(arr) {
        arr.forEach(element => {
            console.log(element);
            const li = document.createElement('li');
            li.textContent = element.name;
            ul.append(li);
        });
    }
</script>

</html>