{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        {% for project in projects %}
        <div class="card border-dark mb-3" style="max-width: 30rem;">
            <div class="card-header text-center">Card</div>
            <div class="card-body text-dark">
                <div class="row">
                    <div class="col text-left">
                        <h5 class="card-title text-center">{{ project }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- {% if tag is not none %}
<div class="row">
    <div class="md-chips md-chips-center col s2 offset-s5">
        <div class="md-chip md-chip-hover">
            <a class="md-chip-link" href="/projects">{{ tag }}</a>
            <div class="md-chip-remove"><a href="/projects" class="md-chip-remove-span">x</a></div>
        </div>
    </div>
</div>
{% endif %} -->

{% endblock %}