@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.hero {
    background: #212F3D;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

/* Nav styles */
nav {
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .menu-img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

nav .logo {
    width: 160px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

button {
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
}

button span {
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s;
}

/* Home page */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

}

.card-container .my-image {
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.card-container .profile-image {
    transform: translateY(0%);
    transform: translateX(0%);
    height: 210px;
    width: 210px;
    border-radius: 50%;
}

.card-container .text-container {
    max-width: 1000px;
    margin-top: 0%;
    margin-left: 3%;
    font-style: normal;
}

.card-container .text-container h1 {
    font-size: 120px;
    font-weight: 1000;
    text-align: center;
}

.card-container .text-container h3 {
    font-size: 80px;
    font-weight: 1000;
    text-align: center;
}

.card-container .text-container p {
    font-size: 20px;
    font-weight: 400;
}

.field-container {
    margin-top: 4%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.field-container h2 {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin: 0 auto;
}

.field-container p {
    grid-column: 1;
    grid-row: 2;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
}

.field-container .tech-image {
    grid-column: 1;
    grid-row: 2;
    width: 40px;
    height: 40px;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me-container a {
    text-decoration: none;
    background: #196f3d;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin-top: 30px;
    border-radius: 30px;
}

/* .control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}

.control .line {
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span {
    width: 50%;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
    background: #00986f;
    display: block;
} */

/* .active {
    background: green;
}

.active span {
    background: #fff;
    margin-left: 31px;
}

.on {
    opacity: 1;
} */


/* Projects page */
.projectHolder {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    gap: 20px;
    grid-auto-rows: 550px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

body {
    font-family: Helvetica, san-serif;
    background: -webkit-linear-gradient(90deg, #196f3d 10%, #DD2476 90%);
    /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #196f3d 10%, #DD2476 90%);
    /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #196f3d 10%, #DD2476 90%);
    /* IE10 */
    background: -o-linear-gradient(90deg, #196f3d 10%, #DD2476 90%);
    /* Opera 11.10+ */
    background: linear-gradient(90deg, #196f3d 10%, #DD2476 90%);
    /* W3C */
}

.transition {
    transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}

.card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    height: 300px;
    left: 0;
    margin: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    right: 0;
    top: 0;
    width: 400px;
}

.card:hover {
    height: 550px;
    width: 400px;
}

.card:hover .cta-container {
    display: inline;
    margin-top: 450px;
}

.card:hover .ctb-container {
    display: inline;
    margin-top: 500px;
}

.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
}

.card:hover h2 {
    background: #196f3d;
    color: #fff;
    margin-top: 100px;
    padding: 5px;
}

.card:hover h2 small {
    color: #fff
}

.card:hover p {
    margin-top: 300px
}

.card:hover .technology {
    margin-top: 300px
}

.card:hover .description {
    display: inline;
    margin-top: 360px
}

.card:hover .status {
    display: inline;
    margin-top: 400px
}

.card_circle {
    background: url('https://www.aprifel.com/wp-content/uploads/2019/02/orange.jpg') no-repeat center bottom;
    background-color: #196f3d;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 450px;
}

h2 {
    color: #196f3d;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

p {
    color: rgba(0, 0, 0, .6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}

.technology {
    color: rgba(0, 0, 0, .6);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 220px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;

}

.description {
    display: none;
    color: rgba(0, 0, 0, .6);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.status {
    display: none;
    color: rgba(0, 0, 0, .6);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #196f3d;
    border-radius: 2px;
    color: #196f3d;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

.cta:hover {
    background-color: #196f3d;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ctb-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.ctb {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #196f3d;
    border-radius: 2px;
    color: #196f3d;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

.ctb:hover {
    background-color: #196f3d;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Timeline page */
.timeline {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1);
    gap: 20px;
    grid-auto-rows: 550px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow-wrap: break-word;

}

.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.square {
    width: 900px;
    height: 400px;
    background: rgba(42, 44, 42, 0.616);
    border-radius: 4px;
    box-shadow: 0px 20px 50px #2dcc6f;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.mask {
    clip: rect(0px, 460px, 220px, 0px);
    border-radius: 4px;
    position: absolute;
}

.square .year {
    margin: auto;
    text-align: left;
    margin-top: 70px;
    padding-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.square .title {
    margin: auto;
    text-align: left;
    margin-top: 40px;
    padding-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

.square .content {
    word-break: break-all;
    margin: auto;
    text-align: left;
    margin-top: 40px;
    padding-left: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    width: 100%;
    z-index: 9999;
    color: #fff;

}