<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateusz Guła Portfolio</title>
    <link rel="icon" type="image/png" href="../static/images/devlogo_light.png" />
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <img src="../static/images/dev_light.png" class="logo" href="home.html">
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-ul">
                    <li class="nav-item">
                        <a class="nav-link" id="home" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="projects" href="projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="timeline" href="timeline.html">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact" href="contact.html">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="hero">

                <div class="output"></div>
                <div class="timeline">
                </div>
            </div>
        </div>
    </header>
</body>
<script src="../static/js/timeline.js"></script>
<script src="../static/js/navbar.js"></script>

</html>